body {
  background-color: #121212;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 3em 0 3em;
  background-image: url(public/media/image\ 36.png);
  color: white;
  min-height: 208px;
}

input {
  background-color: #2E2E2F;
  border: none;
  padding: 1em 2em 1em 2.5em;
  margin-right: -4px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #A5A5A5;
  width: 35em;
}

button {
  background-color: #4B4B4B;
  border: none;
  padding: 1em 3em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  cursor: pointer;
}

.search-bar {
  position: relative;
  top: -1.5em;
  display: flex;
  justify-content: center;
}

.empty-state-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2E2E2F;
  padding-top: 16em;
}

.icon {
  padding: 10px;
}

.input-container {
  position: relative;
}

.input-container i{
  position: relative;
  left: 2em;
}

.movie {
  display: flex;
  color: white;
  padding: 0 2em;
  margin: 2em 0;
}

.plot {
  color: #A5A5A5;
}

.movie-text {
  padding-left: 1em;
}

.text-flex-container {
  display: flex;
}

.text-flex-container p {
  padding-right: 1em;
}

.text-flex-container i {
  display: block;
  text-align: center;
  padding-right: 0.5em;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container p, i {
  cursor: pointer;
}

.my-watchlist {
  cursor: pointer;
}

.movie img {
  width: 10em;
}

.header h1 {
  font-size: 3.5rem;
}

.movie h2 {
  margin-bottom: 0;
}

.plot-text {
  color: #A5A5A5;
}

.rating-text {
  display: inline-flex;
  justify-content: start;
  font-size: 1rem;
}

span i {
  padding: 0 4px 0 8px;
}

.empty-watchlist-sub-text {
  color: white;
}

.empty-watchlist-sub-text i {
  padding-right: 8px;
}

.light-gray {
  color: #787878;
}

hr {
  color: white;
  margin: 0 2em;
}